<ng-container *ngIf="isDisplayed$ | async">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4rem">
        <div class="image-container"
             fxFlex="0 0 auto"
             fxLayoutAlign="center center"
             routerLink="{{link}}">
            <ng-content select="[appBlogItemImage]"></ng-content>
        </div>
        <div class="transparent" fxFlex="1 1 auto" fxLayout="column">
            <h5 [routerLink]="link">{{title}}</h5>
            <div [routerLink]="link">
                <ng-content  select="[appBlogItemDescription]"></ng-content>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <ng-content select="[appBlogItemDate]"></ng-content>
                <mat-chip-list disabled>
                    <mat-chip disabled *ngFor="let topic of topics">{{topic}}</mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </div>
    <div class="divider"></div>
</ng-container>
