@import 'styles';

:host ::ng-deep {
  [appBlogItemDate] {
    color: $color-primary-light;
  }

  [appBlogItemImage] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 6rem;
    height: 6rem;
  }
}

h5 {
  margin: 0;
}

.image-container {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  width: 8rem;
  height: 8rem;
}

.mat-chip.mat-standard-chip {
  background: $color-background-dark;
  color: $color-secondary;
  font-weight: bold;
  border: 2px solid $color-primary;
  &.mat-chip-disabled {
    opacity: 1;
  }
}

.divider {
  content: "";
  display: block;
  margin: 0.5rem 0 2rem auto;
  width: 70%;
  border-bottom: 2px solid $color-primary;
}
