.blog-items-container {
  padding: 1.5rem 1.5rem;
  margin-left: 5rem;
  margin-right: 3rem;
}

.side-navigation {
  padding: 1.5rem 1.5rem;
  align-self: flex-start;
  position: sticky;
  transition: 0.1s;
}