<div class="transparent" fxFlex="1 1 auto" fxLayout="column" fxLayoutGap="40px">
    <app-blog-item [topics]="[BlogItemTopic.ANGULAR, BlogItemTopic.NG_RX]">
        <div app-blog-item-image class="angular-image"></div>
        <h3 app-blog-item-title>What is AJAX</h3>
        <label app-blog-item-date>10-12-2018</label>
        <div app-blog-item-description>
            <p>
                Asynchronous Javascript and XML (AJAX), is a way of communicating to a web server from a client-side
                application through the HTTP or HTTPS protocol.
            </p>
            <p>
                Even though AJAX holds XML in the name, the way data is sent through requests or received doesn't have
                to be XML, but
            </p>
        </div>
    </app-blog-item>
    <app-blog-item [topics]="[BlogItemTopic.ANGULAR, BlogItemTopic.RX_JS, BlogItemTopic.NG_RX]">
        <div app-blog-item-image class="rxjs-image"></div>
        <h3 app-blog-item-title>What is LOVE</h3>
        <label app-blog-item-date>09-02-2019</label>
        <div app-blog-item-description>
            <p>
                Baby don't hurt me, don't hurt me.
            </p>
            <p>
                No more.
            </p>
        </div>
    </app-blog-item>
    <app-blog-item>
        <div app-blog-item-image class="ngrx-image"></div>
        <h3 app-blog-item-title>What is AJAX</h3>
        <label app-blog-item-date>10-12-2018</label>
        <div app-blog-item-description>
            <p>
                Asynchronous Javascript and XML (AJAX), is a way of communicating to a web server from a client-side
                application through the HTTP or HTTPS protocol.
            </p>
            <p>
                Even though AJAX holds XML in the name, the way data is sent through requests or received doesn't have
                to be XML, but
            </p>
        </div>
    </app-blog-item>
</div>