<h6>Follow Me</h6>
<div fxLayoutAlign="center" fxLayoutGap="1rem">
    <a href="https://github.com/pawelkiszka" target="_blank" title="GitHub">
        <i class="fab fa-github fa-3x"></i>
    </a>
    <a href="https://www.linkedin.com/in/pawe%C5%82-kiszka-161ab7116/" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin-in fa-3x"></i>
    </a>
    <a href="https://stackoverflow.com/users/7337369/pawel-kiszka" target="_blank" title="StackOverflow">
        <i class="fab fa-stack-overflow fa-3x"></i>
    </a>
    <a href="mailto: pkiszka@outlook.com" target="_blank" title="E-Mail">
        <i class="fas fa-envelope fa-3x"></i>
    </a>
</div>