.sidenav-container {
  height: 100%;
}

.sidenav-logo {
  background-image: $angular-logo-url;
  width: $angular-logo-width;
  height: $angular-logo-height;
  background-size: contain;
}

.mat-toolbar{
  background-color: lightgray;
  .mat-primary {
    position: sticky;
    top: 0;
  }
}