<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start">
        <div class="go-back-button" routerLink="/" fxFlex="0 0 auto" fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-icon>backspace</mat-icon>
            <span>BACK</span>
        </div>
    </div>
    <div class="blog-article" fxLayout="column">
        <h2>{{articleTitle}}</h2>
        <p class="author-and-date">by Paweł Kiszka | {{creationDate}}</p>
        <ng-content select="[appBlogArticleImage]"></ng-content>
        <div class="blog-article-content">
            <ng-content></ng-content>
        </div>
    </div>
</div>
