<app-blog-article articleTitle="This is the title of the article"
                  creationDate="23-02-2019">
    <div appBlogArticleImage class="ngrx-store-big-image blog-article-image"></div>
    <p>
        The way we tend to learn and communicate about observables and streams in general, is done with marble diagrams.
        It is a visual representation, like a schema describing what’s happening with our observable.
    </p>

    <p>
        When we need to test Observables, we have two main patterns that we can use. <strong>Either</strong> the
        subscribe and assert pattern, or the marble testing pattern using diagrams. This article is an introduction to
        marble testing.
    </p>

    <pre>
        <code [highlight]="demoCode"></code>
    </pre>

    <p>
        When we need to test Observables, we have two main patterns that we can use. <strong>Either</strong> the
        subscribe and assert pattern, or the marble testing pattern using diagrams. This article is an introduction to
        marble testing.
    </p>

    <pre>
        <code [highlight]="demoCode"></code>
    </pre>

    <p>
        When we need to test Observables, we have two main patterns that we can use. <strong>Either</strong> the
        subscribe and assert pattern, or the marble testing pattern using diagrams. This article is an introduction to
        marble testing.
    </p>

    <pre>
        <code [highlight]="demoCode"></code>
    </pre>

    <p>
        When we need to test Observables, we have two main patterns that we can use. <strong>Either</strong> the
        subscribe and assert pattern, or the marble testing pattern using diagrams. This article is an introduction to
        marble testing.
    </p>

    <pre>
        <code [highlight]="demoCode"></code>
    </pre>

    <p>
        When we need to test Observables, we have two main patterns that we can use. <strong>Either</strong> the
        subscribe and assert pattern, or the marble testing pattern using diagrams. This article is an introduction to
        marble testing.
    </p>

    <pre>
        <code [highlight]="demoCode"></code>
    </pre>

    <p>
        When we need to test Observables, we have two main patterns that we can use. <strong>Either</strong> the
        subscribe and assert pattern, or the marble testing pattern using diagrams. This article is an introduction to
        marble testing.
    </p>

    <pre>
        <code [highlight]="demoCode"></code>
    </pre>

    <p>
        When we need to test Observables, we have two main patterns that we can use. <strong>Either</strong> the
        subscribe and assert pattern, or the marble testing pattern using diagrams. This article is an introduction to
        marble testing.
    </p>

    <pre>
        <code [highlight]="demoCode"></code>
    </pre>

    <p>
        When we need to test Observables, we have two main patterns that we can use. <strong>Either</strong> the
        subscribe and assert pattern, or the marble testing pattern using diagrams. This article is an introduction to
        marble testing.
    </p>

    <pre>
        <code [highlight]="demoCode"></code>
    </pre>


</app-blog-article>
