html {
  height: 100%;
  color: white;
  font-family: "Nunito", "Helvetica", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color-background-dark;
  font-size: 62.5%;
  margin: 0;
}

[ng-reflect-router-link], [routerlink] {
  cursor: pointer;
}

.transparent {
  background-color: transparent;
}

section {
  padding: 0.5rem 0;

  &.sub-element {
    padding: 0.25rem 0 0.25rem 1.5rem;
  }
}
