// Logos
$angular-logo-url: url('/assets/angular-logo.png');
$rxjs-logo-url: url('/assets/rxjs-logo.png');
$ngrx-logo-url: url('/assets/ngrx-logo.png');

// Big images
$image-url-ngrx: url('/assets/ng-rx-store-big-image.png');

//Shareable library with polymorphism
$image-url-cookies: url('/assets/shareable-library-with-polymorphism/cookies.jpg');
$image-url-shareable-library-graph: url('/assets/shareable-library-with-polymorphism/shareable-library-diagram.jpg');

// Predefined image classes
.blog-article-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.angular-image {
  background-image: $angular-logo-url;
}

.rxjs-image {
  background-image: $rxjs-logo-url;
}

.ngrx-image {
  background-image: $ngrx-logo-url;
}