$angular-logo-url: url('../assets/angular-logo.png');
$angular-logo-width: 55px;
$angular-logo-height: 60px;

$color-primary: #557A95;
$color-primary-light: #7395AE;
$color-secondary: #B1A296;
$color-background-dark: #5D5C61;
$color-background-light: #717075;

$text-color: white;