@import 'styles';

:host ::ng-deep {
  [app-blog-item-date] {
    color: $color-primary-light;
  }

  [app-blog-item-title] {
    margin-bottom: 0;
  }

  [app-blog-item-image] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
  }
}

.image-container {
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  width: 130px;
  height: 130px;
}

.mat-chip.mat-standard-chip {
  background: $color-background-dark;
  color: $color-secondary;
  font-weight: bold;
  border: 2px solid $color-primary;

  &:hover {
    background: $color-background-light;
  }
}

.divider {
  content: "";
  display: block;
  margin: 10px 0 0 auto;
  width: 60%;
  border-bottom: 2px solid $color-primary;
}
