<div fxLayout="column" fxFlex="1 1 100%">
    <app-top-navigation fxFlex="0 0 auto"></app-top-navigation>
    <div fxFlex="1 0 auto">
        <app-dashboard class="dashboard" fxFlex="1 1 75%"></app-dashboard>
        <div fxFlex="1 1 25%" fxLayout="column" fxLayoutGap="1rem" class="side-navigation">
            <app-side-navigation></app-side-navigation>
            <app-contact></app-contact>
            <app-follow-me></app-follow-me>
        </div>
    </div>
    <div fxFlex="0 0 auto">
        footer
    </div>
</div>
