<div fxLayout="column" fxFlex="1 1 100%" app-resize-on-scroll>
    <app-top-navigation fxFlex="0 0 auto"></app-top-navigation>
    <div fxFlex="1 0 auto" class="content">
        <app-dashboard class="dashboard" fxFlex="1 1 75%"></app-dashboard>
        <div fxFlex="1 1 25%" fxLayout="column" fxLayoutGap="1rem" id="side-navigation" class="side-navigation">
            <app-popular-topics></app-popular-topics>
            <app-contact></app-contact>
            <app-follow-me></app-follow-me>
        </div>
    </div>
    <div fxFlex="0 0 auto">
        footer
    </div>
</div>
