<div class="transparent" fxFlex="1 1 auto" fxLayout="column">
    <app-blog-item [topics]="[BlogItemTopic.ANGULAR, BlogItemTopic.NG_RX, BlogItemTopic.JAVA, BlogItemTopic.TESTING]"
                   title="Demo blog item - click me to see what's inside"
                   link="articles/demo-article">
        <div appBlogItemImage class="rxjs-image"></div>
        <label appBlogItemDate>10-12-2018</label>
        <div appBlogItemDescription>
            <p>
                This is some dummy description of the article. This article is awesome, contains incredible stuff and
                for sure will resolve all your problems.
            </p>
        </div>
    </app-blog-item>
    <app-blog-item [topics]="[BlogItemTopic.ANGULAR]"
                   title="Angular Polymorphism - Implement library with flexible API"
                   link="articles/shareable-library-with-polymorphism">
        <div appBlogItemImage class="angular-image"></div>
        <label appBlogItemDate>23-02-2019</label>
        <div appBlogItemDescription>
            <p>
                Use Interfaces and InjectionTokens to build easily maintainable library, shared between multiple
                web applications.
            </p>
        </div>
    </app-blog-item>
    <ng-container *ngIf="isNoneOfBlogItemsDisplayed$ && (isNoneOfBlogItemsDisplayed$ | async)">
        <h6>Sorry, we could not find any article, that matches your preferences.</h6>
    </ng-container>
</div>