<div class="transparent" fxFlex="1 1 auto" fxLayout="column">
    <app-blog-item [topics]="[BlogItemTopic.ANGULAR, BlogItemTopic.NG_RX]"
                   title="What is AJAX"
                   link="articles/demo-article">
        <div app-blog-item-image class="angular-image"></div>
        <label app-blog-item-date>10-12-2018</label>
        <div app-blog-item-description>
            <p>
                Asynchronous Javascript and XML (AJAX), is a way of communicating to a web server from a client-side
                application through the HTTP or HTTPS protocol.
            </p>
            <p>
                Even though AJAX holds XML in the name, the way data is sent through requests or received doesn't have
                to be XML, but
            </p>
        </div>
    </app-blog-item>
    <app-blog-item [topics]="[BlogItemTopic.ANGULAR, BlogItemTopic.RX_JS, BlogItemTopic.NG_RX]"
                   title="What is LOVE"
                   link="articles/demo-article">
        <div app-blog-item-image class="rxjs-image"></div>
        <label app-blog-item-date>09-02-2019</label>
        <div app-blog-item-description>
            <p>
                Baby don't hurt me, don't hurt me.
            </p>
            <p>
                No more.
            </p>
        </div>
    </app-blog-item>
    <app-blog-item [topics]="[BlogItemTopic.JAVA]"
                   title="What is JAVA"
                   link="articles/demo-article">
        <div app-blog-item-image class="ngrx-image"></div>
        <label app-blog-item-date>10-12-2018</label>
        <div app-blog-item-description>
            <p>
                Asynchronous Javascript and XML (AJAX), is a way of communicating to a web server from a client-side
                application through the HTTP or HTTPS protocol.
            </p>
            <p>
                Even though AJAX holds XML in the name, the way data is sent through requests or received doesn't have
                to be XML, but
            </p>
        </div>
    </app-blog-item>
    <ng-container *ngIf="isNoneOfBlogItemsDisplayed$ && (isNoneOfBlogItemsDisplayed$ | async)">
        <h6>Sorry, we could not find any article, that matches your preferences.</h6>
    </ng-container>
</div>