@import 'styles';

:host {
  background-color: $color-background-light;
  padding: 1rem;
  border-radius: 10px;
}

h6 {
  text-align: center;
}

a {
  color: $color-secondary;
  text-decoration: none;
}